<div class="js-photothumb" align="center">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			{{#each PhotoCollection}}
			<div class="item {{#ifFirstElement}}active{{/ifFirstElement}}">
				<img
					src="http://192.168.35.105:9000/assets/uploads/{{photoSrc}}"
					name="{{title}}" class="img-responsive js-photo-list" alt="Image" />
				<div class="carousel-caption">
					<span>{{title}}</span>
				</div>

			</div>
			{{/each}}
		</div>
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a> <a class="carousel-control right" href="#myCarousel"
			data-slide="next"> <span
			class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>

